body {
  font-family: 'Playfair Display', serif;
  color: #626262;

  margin: 0;
  background-color: #ffffff;
}

.pageWrapper {
  margin: auto;
  padding-top: 123px;
  padding-bottom: 65px;
  width: 900px;
}

header {
  margin-bottom: 91px;
}

nav, article {
  font-size: 14px;
  line-height: 24px;
}

nav ul {
  margin: auto;
  padding: 5px;
  padding-left: 101px;
  width: 700px;

}

nav li {
  width: 100px;

  display: inline-block;
}

nav li:not(:last-of-type) {
  margin-right: 67px;
}

nav a {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #626262;
  
  display: block;
}

nav a:hover {
  color: #03a9f4;
}

main ul {
  font-size: 0px;

  padding: 0;
}

main li {
  vertical-align: top;

  margin-bottom: 135px;
  width: 420px;
  height: 480px;
  
  display: inline-block;
  overflow: hidden;
}

main li:not(:nth-of-type(2n)) {
  margin-right: 60px;
}

main li:nth-last-of-type(-n + 2) {
  margin-bottom: 48px;
}

article .title {
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  color: #b4ad9e;
  
  margin-top: 18px;
}

article h2 {
  font-size: 30px;
  
  margin-top: 22px;
}

article .description {
  margin-top: 35px;
  }

button {
  font-family: inherit;
  font-size: 20px;
  color: #626262;

  margin: auto;
  border: 1px solid #626262;
  width: 160px;
  height: 60px;
  background-color: #ffffff;

  display: block;
  }
